.beginnerheader{
    text-align: center;
}

.amateurheader{
    text-align: center;
}


.proheader{
    text-align: center;
}


.springheader{
    text-align: center;
}

.summerheader{
    text-align: center;
}

.fallheader{
    text-align: center;
}

.winterheader{
    text-align: center;
}

.cost1header{
    text-align: center;
}

.cost2header{
    text-align: center;
}

.cost3header{
    text-align: center;
}














